.header{
    display: flex;
    background-color: #f7ff5d;
    text-align: center;
    height: 65px;
    justify-content: center;
    align-items: center;

    h1{
        margin: 0;
        padding: 0;
    }
}